.footer {
    height: 100px;
    background-color: #1c2b35;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:576px) {
    .footer {
        width: 100%;
    }
}